numpy
pandas
faiss-cpu
streamlit
snowflake
langchain_aws
langchain_community
snowflake-snowpark-python
datetime
croniter
slack_bolt
matplotlib
seaborn
scikit-learn
simple-salesforce
pyodbc
fastapi
uvicorn
requests
Authlib
pymongo[srv]
certifi
pydantic-settings
pydantic
itsdangerous
httpx
