numpy
pandas
faiss-cpu
streamlit
snowflake
langchain_aws
langchain_community
snowflake-snowpark-python
snowflake
datetime
croniter
slack_bolt
matplotlib
seaborn
scikit-learn
simple-salesforce
pyodbc
fastapi
uvicorn
requests
